@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Code Test</h1>
                <h2>Three table solution version 0.1</h2>
            </hgroup>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Register a client to a set of Adare shows</h5>
        There are three types of shows, i.e. print show, email show and fax show. A client can register one event for an show type.
    </li>

    <li class="two">
        <h5>Show Management</h5>
        Add, edit and remove shows.
    </li>

    <li class="three">
        <h5>Admin</h5>
        The admininstrator can view all attendees for an show.
    </li>
</ol>
